@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Rubik Marker Hatch', cursive;
    display : flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right,#023E73,#D8D9BA);
    background-size: cover;
}

/*
body::before { 
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom:0 ; left: 0;
    background-color: rgba(0,0,0,.7);
}
*/

.login-form{position: relative; z-index: 2;}
.login-form h1{
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.int-area {
    width: 400px;position: relative;
    margin-top: 20px;
}
.int-area:first-child {margin-top: 0;}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color:fff;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 20px;
    font-size: 18px; color: #999;
    transition: all .5s case;
}

.int-area input:focus + label,
.int-area input:valid + label{
    top: -2px;
    font-size: 13px; color: #33ab3f;
}

.btn-area {margin-top: 30px;}
.btn-area button{
    width: 100%; height:50px;
    background: #3b1a6d;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius:25px;
}

.caption{
    margin-top: 20px;
    text-align: center;
}
.caption a{
    font-size: 15px; color : #999;
    text-decoration: none;
}

/*sign up css start*/
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 30px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20;
    border-bottom: 1px solid #999;
    background: transparent;

}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #3b1a6d;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius:25px;
}

form h1{
    margin-bottom: 30px;
}
::placeholder{
    color:  #999;
}